/*
	jsrepo 1.28.4
	Installed from https://reactbits.dev/default/
	26-1-2025
*/

.letter {
  display: inline-block;
  will-change: transform, opacity;
}

.split-parent {
  display: inline;
  overflow: hidden;
}
